*{box-sizing: border-box;}


body {
    margin: 0;
    padding: 0;
    background-color: #ffe600;
    font-family: 'Bangers', cursive;
}

.home-figure {
    margin: 10px auto;
    padding: 10px;
    width: 100%;
}


.header {
    padding: 20px 0;
    margin-bottom: 10px;
    background-color: #000000;
}

.header-text {
    color: #fff;
}

.nav-text {
    color: #fff;
}



.footer {
    padding: 20px 0;
    background-color: #000000;
}

.footer-text {
    color: #fff;
    font-size: large;
}


.hero-figure {
    border: 5px solid #000;
    border-radius: 8px;
    background: #fff;
    box-shadow: 5px 5px 0 #000;
}

.home-figure img {
    height: 450px;
}


.hero-figure:hover {
    transform: scale(1.05); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.hero-figure img {
    height: 280px;
}



.hero-single-figure img {
    height: 325px;
}

.page-link {
    color: black;
}

.hero-single-figure {
    border: 5px solid #000;
    border-radius: 10px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 6px 6px 0 #000;
    font-size: 2rem;
    margin-bottom: 20px;
}

.figure-caption {
    padding: 5px;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
}

.message-caption {
    color: #000;
    font-size: larger;
}




#allDataMain {
    padding-bottom: 20px;
}




@media (max-width: 768px) {
    .hero-figure img {
    height: 220px;
    }
}



