<%- include('../partials/header') %>

<main class="main" id="errorMain">
    <div class="container">
        <figure class="figure mx-auto w-50">
            <img src="https://tenor.com/view/chiens-funnyanimals-dogs-gif-18329643505618339917" alt="funny dog gif" class="img-fluid error-gif figure-img">
            <figcaption class="figure-caption text-center">Pet this funny dog. This page does not exist</figcaption>
        </figure>
    </div>
</main>

<%- include('../partials/footer') %>